<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Brad Anderson" />
   <!-- <link href="http://feeds.feedburner.com/boorad" rel="alternate" title="Brad Anderson" type="application/atom+xml" /> -->

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">boorad</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Brad Anderson<br />
        <a href="http://sankatygroup.com/">The Sankaty Group, Inc.</a><br />
        brad@sankatygroup.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/boorad/">github.com/boorad</a><br />
        <a href="http://twitter.com/boorad/">twitter.com/boorad</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/boorad">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/boorad"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>
